<!DOCTYPE html>
<html>
  <head>
    <title>HaccpApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="footer">
      <p>COPYRIGHT &#169; Garage Labo ALL RIGHTS RESERVED.</p>
      <p>問い合わせ先：055-220-7500</p>
    </div>
  </body>

  </html>
